@charset "utf-8";


@media screen and (max-width:1280px){


     /* portfolio2 */
     #portfolio_group .inner .hover_box {
        right: -5%;
        top: -5%;
        }
    
    .redesign_group .inner .text_wrap .title_box .title {
        font-size:25px;
    }


    .redesign_group .inner .text_wrap .title_box .txt {
        font-size: 18px;
    }
   

    .redesign_group .inner .text_wrap .text_box .title {
       font-size:13px;
    }


    .redesign_group .inner .text_wrap .text_box .txt {
        font-size: 13px;
    }

    .redesign_group .inner .text_wrap .title_box .redesign {
        margin-top:5vh;
    }


    .redesign_group .inner .text_wrap .title_box .tag {
        font-size: 20px;
    }


    .redesign_group .inner .link a {
     font-size:18px;
    }
}




@media screen and (max-width:1028px){


    .redesign_group {
        width: 100%;
        height: 90vh;
       margin:0;
    }

    .redesign_group .inner {
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .redesign_group .inner .mockup_wrap {
        width: 45vw;
        margin-right:0;
    }




    .redesign_group .inner .text_wrap {
        padding-bottom: 0;
        text-align:center;
        display:flex;
        flex-direction: column;
        order:1;
        margin-top:5vh;
       
    }


    .redesign_group .inner .text_wrap .text_box {
       display:none;
    }
    

    .redesign_group .inner .text_wrap .title_box>div{
        justify-content: center;
    }


    .redesign_group .inner .link {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 5vh;
    }

    .redesign_group .inner .link a{
        width:100%;
        margin-right:0;
    }


    .redesign_group .inner .text_wrap .title_box .redesign {
        display:none;
    }


   

    #portfolio2 .mockup_wrap {
        margin-left:0;
        margin-top:0;
       
    }



    .redesign_group .inner .text_wrap .title_box .txt {
        font-size: 15px;
    }



    .redesign_group .inner .hover_box {
        display:none;
    }



    





    


}

